*{
    top:0;
    left:0;
}

body{
    width: 100vh;
    height: 100vh;
}

testes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30%;
}

btn{
    height: 100px;
    width: 200px;
}