*{
    top:0;
    left:0;
}

body{
    width: 100vh;
    height: 100vh;
}

.testes{
    border: 2px solid;
    display: flex;
    flex-direction: row;    
    margin-top: 40%;
    margin-left: 20%;
}

.botao{
    height: 100px;
    width: 200px;
    margin: 2px;
}