*{
    top:0;
    left:0;
}

body{
    display: flex;
    width: 100vh;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}

.testes{
    border: 2px solid;
    display: flex;
    flex-direction: row;    
}

.botao{
    height: 100px;
    width: 200px;
    margin: 2px;
}